---
import { Image } from 'astro:assets';
import marble from '/src/assets/marble.jpg';
import '../styles/global.css'
---

<section class="relative w-full h-[90vh] mx-auto overflow-hidden">
  	<Image src={marble} alt="Institut de beauté à Bidart" class="absolute inset-0 w-full h-full object-cover" />

  	<!-- Optional dark overlay for readability -->
  	<div class="absolute inset-0 bg-black/30"></div>

	<div class="relative max-w-5xl mx-auto h-full flex items-center justify-center text-center px-4">
		<div class="text-white flex flex-col items-center space-y-4">
  			<h2 class="text-5xl md:text-6xl font-semibold font-heading">
    			Un moment de détente à Bidart
  			</h2>
  			<p class="text-lg">
    			Des soins personnalisés pour le corps et l’esprit sur la côte basque.
     		</p>
			<a target="_blank" rel="noopener noreferrer" href="https://www.planity.com/" class="inline-block bg-black text-gray-100 px-8 py-3 text-sm md:font-semibold hover:bg-gray-100 hover:text-black transition mt-6">
      			Prendre rendez-vous
    		</a>
		</div>
	</div>
</section>