---
import '../styles/global.css'
---

<header class="top-0 sticky relative h-[10vh] z-50 bg-neutral-50 border-b">
    <div class="max-w-5xl px-6 lg:px-0 h-full mx-auto flex items-center justify-between">
       	<a href="/" class="text-3xl md:text-4xl font-heading font-bold">
 			L'Atelier Zen
		</a>
    	<nav class="hidden md:flex text-md">
        	<a href="/" class="px-6 py-2 border-2 border-transparent hover:border-gray-900 transition">
                Accueil
            </a>
        	<a href="/services" class="px-6 py-2 border-2 border-transparent hover:border-gray-900 transition">
                Services
            </a>
        	<a href="/contact" class="px-6 py-2 border-2 border-transparent hover:border-gray-900 transition">
                Contact
            </a>
            <a href="/contact#reservation" class="ml-4 inline-block bg-black text-white px-5 py-2 text-sm border-2 border-black hover:bg-transparent hover:text-gray-900 transition">
                Prendre rendez-vous
            </a>
        </nav>

   		<!-- Mobile menu button -->
		<button id="menu-button" class="md:hidden text-2xl z-50 relative" aria-label="Menu">
  			<span id="menu-icon">☰</span>
		</button>

		<!-- Mobile Menu -->
		<nav id="mobile-menu" class="fixed top-[10vh] left-0 right-0 bottom-0 bg-neutral-50 z-40 hidden flex flex-col justify-center items-center text-xl space-y-8">

			<a href="/" class="hover:opacity-60 transition">
    			Accueil
  			</a>

  			<a href="/services" class="hover:opacity-60 transition">
    			Services
  			</a>

  			<a href="/contact" class="hover:opacity-60 transition">
    			Contact
  			</a>

  			<a href="/contact#reservation" class="mt-6 bg-black text-white px-8 py-3 text-sm border-2 border-black hover:bg-transparent hover:text-black transition">
    			Prendre rendez-vous
  			</a>

		</nav>


  </div>
</nav>

    </div>
</header>