<footer class="border-t bg-neutral-100">
    <div class="max-w-5xl mx-auto h-[140px] flex flex-col items-center justify-center gap-1 text-sm text-gray-500">
        <p>L'Atelier Zen – Institut de Beauté à Bidart</p>
    	<p>13 Rue de la Madeleine, 64210 Bidart</p>
		<p>07 52 03 73 64</p>
	</div>
</footer>