---
import '../styles/global.css'
---

<header class="sticky top-0 w-full z-50 bg-neutral-50/90 backdrop-blur-sm border-b">
    <div class="max-w-5xl h-[10vh] px-6 lg:px-0 mx-auto flex items-center justify-between">
       	<a href="/" class="text-3xl md:text-4xl font-heading font-bold">
 			L'Atelier Zen
		</a>
    	<nav class="hidden md:flex text-md">
        	<a href="/" class="px-6 py-2 border-2 border-transparent hover:border-gray-900 transition">
                Accueil
            </a>
        	<a href="/services" class="px-6 py-2 border-2 border-transparent hover:border-gray-900 transition">
                Services
            </a>
        	<a href="/contact" class="px-6 py-2 border-2 border-transparent hover:border-gray-900 transition">
                Contact
            </a>
            <a href="/contact#reservation" class="ml-4 inline-block bg-black text-white px-5 py-2 text-sm border-2 border-black hover:bg-transparent hover:text-gray-900 transition">
                Prendre rendez-vous
            </a>
        </nav>

		<button id="menu-button" class="md:hidden text-2xl z-60 relative" aria-label="Menu">
  			<span id="menu-icon">☰</span>
		</button>
	</div>

	<nav id="mobile-menu" class="hidden flex-col w-full py-8 space-y-6 items-center text-center md:hidden border-t">
		<a href="/" class="hover:opacity-60 transition">
    		Accueil
  		</a>

  		<a href="/services" class="hover:opacity-60 transition">
    		Services
  		</a>

  		<a href="/contact" class="hover:opacity-60 transition">
    		Contact
  		</a>

  		<a href="/contact#reservation" class="bg-black text-white px-8 py-3 border-2 border-black hover:bg-transparent hover:text-black transition">
    		Prendre rendez-vous
  		</a>
	</nav>
	
</header>